{% extends "base.html" %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<h2 class="mt-4">Reset Password</h2>
<form method="POST" action="{{ url_for('reset_password', user_id=user_id) }}" onsubmit="return validatePassword()">
    <div class="form-group">
        <label for="new_password">New Password</label>
        <input type="password" name="password" placeholder="New Password" required>
        <small id="passwordHelp" class="form-text text-muted">
            Password must be at least 8 characters long and contain both letters and numbers.
        </small>
    </div>
    <button type="submit" class="btn btn-primary">Reset Password</button>
</form>

<script>
    function validatePassword() {
        const password = document.getElementById("new_password").value;

        // Check if password is at least 8 characters long and contains both letters and numbers
        const passwordPattern = /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$/;
        if (!passwordPattern.test(password)) {
            alert("Password must be at least 8 characters long and contain both letters and numbers.");
            return false;
        }

        return true;
    }
</script>
{% endblock %}
